<div class="container py-4">
    <div class="profile-header mb-4">
      <div>
        <h5>Hi, <b>Username</b></h5>
        <p class="text-muted">Let's make this day productive</p>
      </div>
      <img src="https://i.pravatar.cc/100" alt="User">
    </div>

    <div class="d-flex gap-3 mb-4">
      <div class="stat-box flex-fill">
        <div class="fs-3 text-warning"><i class="fas fa-trophy"></i></div>
        <h5>348</h5>
        <small class="text-muted">Ranking</small>
      </div>
      <div class="stat-box flex-fill">
        <div class="fs-3 text-warning"><i class="fas fa-coins"></i></div>
        <h5>1209</h5>
        <small class="text-muted">Points</small>
      </div>
    </div>

    <h5 class="mb-3">Let's play</h5>
    <div class="row g-3">
     
      <div class="col-6 col-md-4">
        <div class="category-card">
          <a href="/quize">
          <i class="fas fa-basketball-ball text-warning"></i>
          <h6>Entertainment: Music</h6>
        </a>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="category-card">
          <i class="fas fa-vials text-info"></i>
          <h6>Chemistry</h6>
          <small>30 questions</small>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="category-card">
          <i class="fas fa-calculator text-success"></i>
          <h6>Math</h6>
          <small>95 questions</small>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="category-card">
          <i class="fas fa-calendar-alt text-danger"></i>
          <h6>History</h6>
          <small>128 questions</small>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="category-card">
          <i class="fas fa-dna text-primary"></i>
          <h6>Biological</h6>
          <small>20 questions</small>
        </div>
      </div>
      <div class="col-6 col-md-4">
        <div class="category-card">
          <i class="fas fa-map-marked-alt text-warning"></i>
          <h6>Geography</h6>
          <small>45 questions</small>
        </div>
      </div>
    </div>
  </div>